<div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  
  <br>

<div class="card">
    <div class="card__header">
      <h2>About The Project</h2>
    </div>
    <div class="card__content">
      <p>The aim of this research is to design, develop
         and evaluate a multilingual dialogue summary generation
          system for customer services using dialogue summarization model 
          with the help of the cross-lingual transfer method.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <h2>Technologies</h2>
    </div>
    <div class="card__content">
      <p>Use of pre trained language transformer - bart-large-xsum for developing the dialogue summarization model
        using huggingface library. To achieve the multilingual or multi language a cross lingual transfer model which is the
        m2m100 model was selected. Together these two models the pipeline of dialogue summarization which can support
        more than one language was created.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card__header">
      <h2>Author</h2>
    </div>
    <div class="card__content">
      <p>Tharindu De Silva | 2018367 | w1761890</p>
    </div>
  </div>
  