.input-text-field-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.form-control {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s;
  width: 100%;
  height: 300px;

  &:focus {
    border-color: #4285f4;
  }
}

.btn-submit {
  width: max-content;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #4285f4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:disabled {
    background-color: #9bbcf8;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: #2c6fe9;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

form {
  flex: 1;
  margin-right: 1rem; // Adjust this as needed for the spacing between form and app-summary-viewer
}

app-summary-viewer {
  flex: 1;
  margin-left: 1rem; // Adjust this as needed for the spacing between form and app-summary-viewer
}
