<div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <div class="card">
    <div class="card__header">
      <h2>MultiDialSum</h2>
    </div>
    <div class="card__content">
      <p>Multilingual Dialogue Summary Generation System.</p>
    </div>
  </div>
  
  <br>
  <app-summary-navigation></app-summary-navigation>
  
  <div class="container">
    <div class="text-area-container">
      <textarea
        [(ngModel)]="dialogue"
        rows="4"
        cols="50"
        placeholder="Enter your dialogue here"
        (change)="onInputChange()"
      ></textarea>
      <button class="generate-summary-btn" (click)="generateSummary()">Generate Summary</button>
    </div>
    <div class="language-container">
      <i class="icon-lang" *ngIf="!loading"></i>
      <div class="spinner" *ngIf="loading"></div>
      <span *ngIf="loading">Generating the Summary</span>
      <span *ngIf="!summaryGenerated && !loading">English Mode</span>
      <span *ngIf="summaryGenerated">Language Detected - {{language}}</span>
      <button class="info-btn" (click)="showInfo()">i</button>
    </div>
  
    <div class="summary-area-container">
      <textarea
        [(ngModel)]="summary"
        rows="4"
        cols="50"
        placeholder="Generated Summary Will be displayed here"
        (change)="onInputChange()"
      ></textarea>
      <button class="save-summary-btn" [disabled]="!summaryGenerated" (click)="saveSummary(dialogue, summary, language)">Save Summary</button>
    </div>
    
  </div>
  