@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/bg2.jpeg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }
  